* {
  margin: 0;
  padding: 0;
}
body{
  /* background-image: url("images/grey_bg.jpg"); */
  background-color: #111;
  color:#fff;
  
  
  max-width:1200px;
  margin:0 auto;
}

.button_link{
  padding: 24px 18px 24px;
  border-radius: 12px;
  color: #fff;text-decoration: none;    font-size: 25px;opacity:.9}
  .button_link.red{background-color: #f12334;}
  .button_link.grey
  {
    background-color: grey;

  }
  .mr10{margin-right:10px}
  .m10{margin:10px}
  .ml10{margin-left:10px}
  .mb14{margin-bottom:14px}

  