.aboutme{margin-top:50px}
.aboutme h1{text-align:center;font-size:44px;}
.aboutme p{font-size:28px;line-height:45px;text-align:center}

.aboutme   .buttons_cont{text-align:center;margin:55px}
.toggle{display:none}